:root {
    --primary-color: rgb(160, 82, 45);
    --secondary-color: rgb(0, 139, 139);
    --tertiary-color: #E6B89C;  
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin: 0.7% 0.8% 0.7% 0.8%;
}

header {
    background-color: var(--primary-color);
    color: whitesmoke;
    text-align: center;
    padding: 6px 0 6px 0;
}

section {
    display: flex;
}

.city-search {
    width: 20%;
    margin-left: 10px;
}

.city-search h2 {
    margin-top: 10px;
}

.search-form {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

form input {
    margin-bottom: 9px;
    padding: 7px 0 7px 0;
    text-indent: 6px;
}

form button {
    margin-bottom: 9px;
    padding: 6px 0 6px 0;
    background-color: rgb(55, 105, 93);;
    color: whitesmoke;
    border-color: var(--secondary-color);
    font-size: 15px;
}

form button:hover {
    background-color: var(--secondary-color);
    color: White;
}

.temperature, .wind-speed, .humidity  {
    margin-bottom: 10px;
}

.uvi {
    margin-bottom: 18px;
}

.weather-details {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.city-weather {
    border: black solid 1px;
    margin: 10px 10px 0 17px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 8px 0 0 8px;
    background-color: rgba(255, 240, 245, 0.5);
}

.current-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.icon-current {
    height: 40px;
    width: 40px;
    padding-left: 2px;
}

.forecast {
    margin: 10px 10px 0 17px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.forecast-header {
    width: 100%;
    height: auto;
}

.forecast-title {
    margin: 7px 0 9px 0
}

.days-container {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.days {
    background-color:rgba(236, 216, 178, 0.9);
    padding: 10px 50px 18px 12px;
}

.search-history-div {
    display: flex;
    flex-direction: column;
    background-color:rgba(159, 153, 211, 0.4);
    margin-top: 110px;
}

.history-header {
    margin-top: 8px;
    margin-bottom: 10px;
    padding-left: 8px ;
}

.history-btn {
    margin-bottom: 10px;
    width: 150px;
    text-align:center;
    background-color:gainsboro;
    border-color:gainsboro;
    height: 20px;
    margin-left: 10px;
}